span {
    width: 60px;
    margin-right: 5px;
}

.button-custom {
    width: 100px;
    margin-bottom: 15px;
}

/* pre content wrap */
pre {
    white-space: pre-wrap !important; /* css-3 */
    word-wrap: break-word !important; /* InternetExplorer5.5+ */
    white-space: -moz-pre-wrap !important; /* Mozilla,since1999 */
    white-space: -o-pre-wrap !important; /* Opera7 */
}